* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
}

#canvas {
    width: 1024px;
    height: 576px;
    border: solid 1px orangered;
}